* {
    font-family: "Comic Sans MS";
  }
ul
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #333;
}
li
{
    float: left;
    border-right:1px solid #bbb;
}
li:last-child
{
    border-right: none;
}
li a
{
    display: block;
    color: white;
    text-align: center;
    padding: 8px 16px;
    text-decoration: none;
}
li a:hover:not(.active)
{
    background-color: #111;
}  
.active
{
    background-color: #4CAF50;
}
header
{
    display: inline-block;
    background: rgb(247, 200, 156);
    position: absolute;
    top: 0px;
    left: 0px;
    width: 680px;
    height: 100px;
}
menu
{
    background: rgb(100, 100, 98);
    position: absolute;
    top: 65px;
    left: 0px;
    width: 640px;
    height: 40px;
}
leftSide
{
    background: rgb(247, 200, 156);
    position: absolute;
    top: 80px;
    left: 0px;
    width: 40px;
    height: 775px;
}
rightSide
{
    background: rgb(247, 200, 156);
    position: absolute;
    top: 80px;
    left: 640px;
    width: 40px;
    height: 775px;
}
content
{
    background: rgb(241, 175, 76);
    position: absolute;
    top: 115px;
    left: 40px;
    width: 600px;
    height: 740px;
}
footer
{
    background: rgb(247, 200, 156);
    font-size: 0.75em;
    position: absolute;
    top: 850px;
    left: 0px;
    width: 680px;
    height: 90px;
}
.buttonA {
    background-color: #333;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border: 2px solid rgb(238, 241, 238);
    border-radius: 12px;
}
.buttonA:hover
{
background-color: rgb(17, 19, 17);
color: white;
}
.buttonB {
background-color: #333;
border: none;
color: white;
padding: 10px 22px;
text-align: center;
text-decoration: none;
display: inline-block;
font-size: 13px;
border: 2px solid rgb(238, 241, 238);
border-radius: 12px;
}
.buttonB:hover
{
background-color: rgb(17, 19, 17);
color: white;
}
#lostLife {
    position: absolute;
    top: 0%;
    left: 70%;
    font-weight: 900;
    font-size: 1em;
}  
#lostLife .letter {
display: inline-block;
}
#movingPoints {
    position: absolute;
    top: 0%;
    left: 70%;
    font-weight: 900;
    font-size: 1em;
}  
#movingPoints .letter {
display: inline-block;
}
#lost {
    position: absolute;
    top: 30%;
    left: 5%;
    font-weight: 900;
    font-size: 3.5em;
}  
#lost .letter {
display: inline-block;
}
#win {
    position: absolute;
    top: 30%;
    left: 2%;
    font-weight: 900;
    font-size: 3.5em;
}  
#win .letter {
display: inline-block;
}
#doBetter {
    position: absolute;
    top: 30%;
    left: 1%;
    font-weight: 900;
    font-size: 3.5em;
}  
#doBetter .letter {
display: inline-block;
}